@charset "utf-8";
body {
	background: #4E5869;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	background:url(../img/hdr_bg.jpg) top repeat-x #f9fcfe;
}
ul, ol, dl {
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	padding:0px;
	margin:0px;
}
h1, h2, h3, h4{
	font-family:"Open Sans";
	font-weight:400;
	color:#86b2cf;
}
a img {
	border: none;
}
a:link {
	color:#414958;
	text-decoration:none
}
a:visited {
	color: #4E5869;
	text-decoration:none
}
a:hover, a:active, a:focus {
	text-decoration: none;
	text-decoration:none
}
.container {
	width: 100%;
	margin: 0 auto;
}

.grid{
	background:url(../img/top_bg.jpg) no-repeat center top;
}

.content {
	width:964px;
	margin:0 auto
}

.header{
	height:155px;
	position:relative
}

/** Default Theme **/
.logo{
	position:absolute;
	top:61px;
}

.logo a{
	display:block;
	width:220px;
	height:84px;
	background:url('../img/dchf_header_logo.png');
}

.logo a span{
	display:block;
	overflow:hidden;
	text-indent:-999px;
}

.r_part{
	position:absolute;
	top:22px;
	right:7px
}

.sm-icons{
	text-align:right;
	line-height:18px;
	overflow:hidden;
	float:right;
}

.sm-icons .leadin{
	font-size:10px;
	color:#a8cbe0;
	float:left;
}

.sm-icons a{
	width:22px;
	height:15px;
	display:block;
	float:left;
	padding-left:10px;
}

.sm-icons a.facebook{
	width:10px;
}

.sm-icons a span{
	display:block;
	width:22px;
	height:15px;
	text-indent:-999em;
	text-align:left;
}

.sm-icons a.twitter span{
	background:transparent url('../img/sprites_01.png') 0 0;
}

.sm-icons a.twitter:hover span{
	background-position-x:-22px;
}

.sm-icons a.facebook span{
	background:transparent url('../img/sprites_01.png') -100px 0 ;
}

.sm-icons a.facebook:hover span{
	background-position-x:-110px;
}

.top_nav{
	padding-top:75px;
}
.top_nav ul{
	list-style-type:none;
	padding:0px;
	margin:0px
}
.top_nav li{
	float:left;
	padding-left:47px;
	text-transform:uppercase;
	text-decoration:none;
	font-size:10pt;
	font-weight:600;
}
.top_nav li a{
	color:#51585e;
	text-decoration:none;
	font-size:10pt;
	font-weight:600;
	text-transform:uppercase;
}
.selected{
	color:#286dab
}
.top_nav li a:hover{
	color:#000
}
.pt_banner{
	background:url(../img/t_banner.jpg) no-repeat;
	width:960px;
	height:158px;
}
.pt_heading{
	color:#FFF;
	font-size:21pt;
	font-weight:600;
	margin:38px 0px 0px 48px;
	float:left
}
.speedbar{
	float:right;
	margin:40px 47px 0px 0px
}
.speedbar ul{
	list-style-type:none;
	padding:0px;
	margin:0px
}
.speedbar li{
	float:left;
	font-size:8pt;
	color:#315c80;	
}
.speedbar li a{
	color:#315c80;
	text-decoration:none;
	font-size:8pt;
	font-weight:600;
	text-transform:capitalize;
	padding:0px 10px;
}
.selected{
	color:#286dab
}
.speedbar li a:hover{
	color:#000
}
.inner_body{
}
.inner_body .views{
	float:left;
	font-size:11pt;
	color:#3a7eb7;
	font-weight:bold;
	padding-top:9px
}
.seprator{
	clear:both;
	background:url(../img/seprator.jpg) no-repeat center;
	height:70px;
}
.inner_body .buttons{
	float:right;
	width:295px
}

.buttons a{ text-decoration:none; cursor:pointer}
.enable_btn a{
	padding:12px 10px 12px 35px;
	border:1px solid #dbeaf3;
	background:url(../img/enable_bullet.jpg) 15px center  no-repeat #FFF;
	color:#3A7EB7;
	font-weight:600;
	font-size:11pt;
	float:left;
	width:100px;
	height:19px;
	margin:0px 2px
}
.inner_body .disable_btn a{
	padding:12px 10px 12px 35px;
	border:1px solid #dbeaf3;
	background:url(../img/disable_bullet.jpg) 15px center  no-repeat #FFF;
	color:#7aabca;
	font-weight:600;
	font-size:11pt;
	float:left;
	margin:0px 2px
}

/** Agenda **/
.agenda-listing{
	border-bottom:1px solid #c2dbe5;
	padding-bottom:28px;
	margin-bottom:40px;
	overflow:hidden;
}
.agenda-listing.last{
	border-bottom:none;
	margin-bottom:0px;
	padding-bottom:10px;
}

.agenda-date{
	width:311px;
	background:url(../img/a_date_end.jpg) no-repeat left bottom;
	padding-bottom:23px;
	float:left;
	overflow:hidden;
}

.agenda-date-wrapper{
	width:208px;
	background:#FFF url(../img/c_icon.jpg) 5px 7px no-repeat;
	padding:0px 0px 20px 78px;
	margin-left:0px
}

.agenda-day{
	font-size:11pt;
	color:#7b858e
}
.agenda-month{
	font-size:13pt;
	color:#7b858e;
	line-height:30px;
	font-weight:bold;
}
.agenda-time{
	font-size:11pt;
	color:#7aabca;
	font-weight:bold;
	margin-left:-78px;
	padding-left:78px;
	border-bottom: 1px solid #c2dbe5;
}
.agenda-details{
	width:626px;
	border-left:1px dotted #c9c9c9;
	padding-left:20px;
	float:right;
	overflow:hidden;
	
}
.agenda-header{
	font-weight:bold;
	font-size:13pt;
	color:#3A7EB7
}
.agenda-listing p, .inner_body p,
.inner_body ul{
	padding:10px 0px;
	color:#7b858e;
	font-size:11pt
}
.agenda-spon-heading, .agenda-view-heading{
	color:#3A7EB7;
	font-size:13pt;
	margin-top:10px;
}

.agenda-spon-list{
	color:#7b858e;
	font-size:11pt;
	font-weight:bold;
	line-height:30px
}

.agenda-view-buttons{
	padding:15px 0px
}
.orange_btn{
	padding:3px 14px 3px 38px;
	border:1px solid #f3cfb8;
	background:url(../img/orange_bullet.jpg) 16px center  no-repeat #FFF;
	color:#ff7824;
	font-weight:600;
	font-size:11pt;
	float:left;
	margin:0px 2px
}
.facebook_btn{
	padding:3px 14px 3px 38px;
	border:1px solid #dbeaf3;
	background:url(../img/enable_bullet.jpg) 16px center  no-repeat #FFF;
	color:#3A7EB7;
	font-weight:600;
	font-size:11pt;
	float:left;
	margin:0px 2px
}
.footer{
	background:url(../img/footer_bg.jpg) repeat-x;
	height:262px;
	clear:both;
}
.fmenu_1 {
	float:left;
	color:#FFF;
	font-weight:600;
	width:214px;
	border-left:1px solid #a6cbe2;
	padding-left:14px;
	font-size:10pt;
	height:188px
}
.f_menu_1_title{
	padding:10px 0 10px 11px
}
.fmenu_1 a{
	text-decoration:none;
	color:#bee3f2;
	font-weight:normal;
	background:url(../img/footer_bullet.jpg) no-repeat left center;
	padding-left:10px;
	line-height:25px;
	font-size:10pt
}
.f_menu{
	width:960px;
	margin:0 auto;
	padding-top:40px
}
.f_menu_1_text01{
	color:#bee3f2;
	font-weight:normal;
	font-size:8pt;
	line-height:13px
}

/** homepage **/

.hp_cal{
	border-top:1px solid #bee3f2;
	margin:10px 0px;
	position:relative;
}
.hp_cal_box{
	width:215px;
	height:105px;
	border-left:1px solid  #bee3f2;
	border-bottom:1px solid  #bee3f2;
	margin:10px 10px 10px 0px;
	float:left;
	position:relative;
}

.hp_cal_date{
	width:54px;
	border-right:1px dotted  #bee3f2;
	padding:10px 0px 15px 0px;
	float:left
}
.hp_cal_month{
	color:#A6CBE2;
	font-size:11pt;
	text-align:center;
	line-height:10px;
	font-weight:600
}
.hp_cal_box.over .hp_cal_month{
	color:#286dab;
}
.hp_heading{
	color: #7caccb;
	font-size:16pt;
	font-weight:600
}
.hp_cal_day{
	color:#A6CBE2;
	font-weight:bold;
	font-size:18pt;
	text-align:center
}
.hp_cal_box.over .hp_cal_day{
	color:#286dab;
}

.hp_cal_detail{
	float:left;
	width:143px;
	padding:5px 0px 5px 11px;
	color:#7b858e;
	font-weight:600;
	font-size:10.5pt;
}

.hp_cal_box .normal_btn{
	position:absolute;
	bottom:10px;
	right:10px;
}

.hp_cal_newsletter{
	background:url(../img/newsletter_signup.jpg) no-repeat;
	width:285px;
	height:113px;
	float:right;
}

hp_cal_newsletter form{
	margin:0;
	padding:0;
}

.newsletter-submit{
	background:url(../img/signup_btn.jpg);
	width:67px;
	height:28px;
	border:none;
	margin:-6px;
	padding:0;
	cursor:pointer;
}

.hp_cal_input{
	margin:24px 0 0 31px;
}


.hp_cal_text{
	float:left;
	border:0;
	color:#999;
	height:27px;
	line-height:24px;
	padding:0px 5px
}

.hp_box{
	background:url(../img/hp_sbox.jpg) no-repeat top left;
	float:left;
	border-right:1px dotted #c9c9c9;
	width:311px;
	margin:30px 14px 0px 14px;
	height:248px;
}

.hp_box p{
	padding:10px 40px 0 20px;
	text-align: justify; text-justify: newspaper;
}

.hp_box_title{
	margin-bottom:10px;
}

.hp_3box{
	background:url(../img/hp_sbox.jpg) no-repeat top left;
	float:left;
	border-right:1px dotted #c9c9c9;
	width:286px;
	margin: 30px 0 0px 11px;
	height:248px
}
.hp_boxes{
	float:left
}
.hp_box_text1{
	background:url(../img/giving.jpg) no-repeat 25px 14px;
	padding:19px 0 8px 101px
}
.hp_box_text5{
	background:url(../img/donor_spotlight.jpg) no-repeat 25px 14px;
	padding:19px 0 8px 101px
}
.hp_box_text7{
	background:url(../img/donor_spotlight.jpg) no-repeat 25px 14px;
	padding:19px 0 8px 101px;
	line-height:40px;
}
.hp_box_text8{
	background:url(../img/join_cause.jpg) no-repeat 25px 14px;
	padding:19px 0 8px 101px;
	line-height:40px;
}
.hp_box_text6{
	background:url(../img/join_cause.jpg) no-repeat 25px 14px;
	padding:19px 0 8px 101px
}
.hp_box_text2{
	width:250px;
	margin:21px 0 10px 22px;
	font-size:10pt;
	font-weight:600;
	color:#7b858e
}
.hp_box_text4{
	font-size:12pt;
	color:#7b858e;
	margin:0px 0 0px 22px;
}
.hp_box_text3{
	font-size:9pt;
	color:#FFF;
	text-shadow: #194c70 0px 1px 2px;
}
.hp_box_heading{
	font-size:13pt;
	color:#FFF;
	text-shadow: #194c70 0px 1px 2px;
	font-weight:normal;
}

/** button styles **/
a.large_button{}
a.large_button span{
	padding:13pt;
	display:block;
	padding-left:35px;
	font-weight:lighter;
	border:1px solid #ddeaf3;
	background:#ffffff url('../img/disable_bullet.jpg') no-repeat 10px center;
	color:#a5cde2
}
a.large_button span strong{
	font-weight:bold;
}

a.large_button:hover span{
	padding:13pt;
	display:block;
	padding-left:35px;
	font-weight:lighter;
	border:1px solid #3A7EB7;
	background:#ffffff url('../img/enable_bullet.jpg') no-repeat 10px center;
	color:#3A7EB7
}

a.normal_btn span{
	padding:5px 10px 5px 29px;
	border:1px solid #dbeaf3;
	background:url(../img/disable_bullet.jpg) 8px center  no-repeat #FFF;
	color:#a6cbe2;
	font-weight:600;
	font-size:9pt;
	float:left;
	margin:10px 0px
}

a.normal_btn:hover span, .hp_cal_box.over a.normal_btn span{
	padding:5px 10px 5px 29px;
	border:1px solid #dbeaf3;
	background:url(../img/enable_bullet.jpg) 8px center  no-repeat #FFF;
	color:#3A7EB7;
	font-weight:600;
	font-size:9pt;
	float:left;
	margin:10px 0px
}


/** chunk styles **/
.page-chunk{
	font-size:12px;
	padding:0 0px;
	box-sizing:border-box;
}


.page-chunk.default {
	border-bottom: 1px solid #e4eff3;
	margin-bottom:50px;
	padding-bottom:35px;
}

.page-chunk .chunk-wrapper{
	padding:0 20px;
}

.page-chunk.bord-dot-r{border-right:1px dotted #c8c9cb;}
.page-chunk.bord-dot-l{border-left:1px dotted #c8c9cb;}

.page-chunk ul{
	list-style:none;
}
.page-chunk ul li{
	padding-top:10px;
	list-style:none;
	padding-left:20px;
	background:transparent url('../img/disable_bullet.jpg') no-repeat 0px 14px;
}

/** column styles **/
.sub-col h3{
	font-size:14pt;
	font-weight:600;
}

.sub-col h4{
	font-size:14pt;
	font-weight:400;
	padding-bottom:15px;
}

.cols-2{
	width:50%;
	float:left;
	overflow:hidden;
	box-sizing:border-box;
}
.cols-3{
	width:33.3%;
	float:left;
	overflow:hidden;
	box-sizing:border-box;
}

/** page layouts style **/

section{
	overflow:hidden;
	padding-bottom:56px;
	background:url('../img/hr_fade.png') no-repeat bottom center;
}

section.post h1 strong{
	font-weight:600;
}

section.post h1:after{
	clear:both;
	content:'';
	display:block;
	padding-top:29px;
	height:29px;
	background:url('../img/hr_fade.png') no-repeat bottom center;
}

.dch-history-footer{
	clear:both;
	overflow:hidden;
	background:url('../img/hr_fade.png') no-repeat top center;
}

.dch-history-footer:before{
	clear:both;
	content:'  ';
	display:block;
	height:29px;
	background:url('../img/hr_fade.png') no-repeat top center;
}

.dch-history-footer h2{
	font-weight:lighter;
	float:left;
	padding-top:10px;
	font-size:18pt;
}
.dch-history-footer h2 strong{}

.dch-history-footer a.large_button{
	float:right;
}
/** 404 **/

section.dch-missing{
	background:transparent url(../img/404b.png) no-repeat center;
	position:relative;
}

section.dch-missing h2 {
	text-align:center;
	font-size:80px;
	font-weight:bold;
}

section.dch-missing .bottom{
	padding-top:500px;
	text-align:center;
}

section.dch-missing .bottom h2{
	font-size:40px;
	font-weight:normal;	
}

section.dch-missing .bottom a.large_button{
	display:block;
	width:250px;
	margin:50px auto;
	padding:0;
}

section.dch-missing .bottom a.large_button span{
	padding:10px 10px  10px 20px;
	color:#80adcc;
}


/** calendar **/

.month-nav{
	float:right;
}

.cal-buttons{
	float:right;
	width:250px;
}

.cal-options{
	float:right;
}

a.cal-button span{
	padding:12px 10px 12px 35px;
	border:1px solid #dbeaf3;
	background:url(../img/disable_bullet.jpg) 8px center  no-repeat #FFF;
	color:#a6cbe2;
	float:left;
	margin:0px;
	font-weight:600;
	font-size:11pt;
}

a.cal-button:hover span{
	border:1px solid #dbeaf3;
	background:url(../img/enable_bullet.jpg) 8px center  no-repeat #FFF;
	color:#3A7EB7;
}

#Panel .agenda-listing {
	padding:20px;
	float:none;
	overflow:hidden;
}

#Panel .agenda-listing .agenda-details{
	width:500px;
}

/*------------------------------------------------------------------------*/
/* Panel -----------------------------------------------------------------*/
/*------------------------------------------------------------------------*/

/*Basic Style*/
#Panel .box{
	background:#f9fcfe;
	border:5px solid #80adcc;
	box-shadow:0px 0px 100px #000;
	padding:0px;
}

#Panel .box .wrapper{
	margin-top:auto;
	padding:10px;
}

#Panel .modal{
	background:#FFF;
	opacity:.7;
	cursor:pointer;
}

#Panel .closer{
	position:absolute;
	top:-25px;
	right:-25px;
	height:50px;
	width:50px;
	background: transparent;
}

#Panel .closer a{
	cursor:pointer;
	display:block;
	height:50px;
	width:50px;
	padding:0;
	margin:0;
	overflow:hidden;
	text-indent:-555px;
	background: transparent url("../img/sprites_01.png") no-repeat -200px -400px;
}

#Panel .closer a:hover{
	background-position-x:-250px
}

#Panel img.solo{
	max-width:120000%;
	border-radius:10px;
}

.hp_cal_text01{
	margin:8px 0px 10px 18px;
	font-size:18pt;
	color: #FFF;
	text-shadow: #003a57 0px 1px 2px;
}

.nl_button{
	width:56px;
	height:22px;
	background-color:#bee3f2;
	box-shadow:0px 1px 0px #DBDEE0, 0px -1px 0px 0px #E2F3F9;
	float:left;
	font-size:13px;
	font-weight:600;
	text-shadow:1px 1px 0 #eaf9ff;
	padding:3px 0 0 11px;
	color:#428cca;
	margin-top:1px;
	margin-left:2px;
	
}
.nl_button {
  *height:24px;
  *margin-top:0px;
  cursor:pointer /* IE */
  margin-left:1px;
}

/** Home **/

.home-page header.header{
	height:146px;
}

.home-page .logo{
	position:absolute;
	top:57px;
}

.home-page .logo a{
	display:block;
	width:183px;
	height:73px;
	background:url('../img/dchf_home_header_logo.png');
}

/* home slider */

.hp-slider-holder{
	background: url(../img/slider_bg.png) no-repeat;
	width:961px;
	height:452px;
	overflow:hidden;
}

#slides {
	width:942px;
	height:378px;
	margin:9px;
	position:relative;
	overflow:hidden;
    border:1px solid #3a7eb7;
}

/* slider reset */
#slides p{
	display:inline;
	padding:0;
	margin:0;
}

#slides div.slide .slide-wrapper{
	position:relative;
}

#slides div.slide h3{
	position:absolute;
	top:20px;
	right:0px;
	color:#0068b3;
	font-size:24px;
	font-weight:lighter;
	padding:15px 75px;
	background:rgba(255,255,255,.9);
}

#slides .slide{
	width:942px;
	height:378px;
    margin:0;
    padding:0;
    position:relative;
}

#slides div.slide h3 strong{
	font-weight:bold;
}

#slides div.slide a{
	display:block;
	position:absolute;
	bottom:-60px;
	right:0px;
	padding:12px 75px;
	background:#0068b3 url('../img/slider_cta_bg.jpg') no-repeat right center;
	color:#FFF;
	text-shadow: #194c70 0px 1px 2px;
}

#slides a.prev{
	position:absolute;
	top:175px;
	left:20px;
	display:block;
	width:57px;
	height:57px;
	text-indent:-9999px;
	background:url('../img/sprites_01.png') 0px -100px;
	z-index:+999;
}
#slides a.prev:hover{
	background-position-x:-57px;
}

#slides a.next{
	position:absolute;
	top:175px;
	right:20px;
	display:block;
	width:57px;
	height:57px;
	text-indent:-9999px;
	background:url('../img/sprites_01.png') -200px -100px;
	z-index:+999;
}
#slides a.next:hover{
	background-position-x:-257px;
}