<!-- Begin footer -->
<footer class="footer">
	<div class="f_menu">
        <div class="fmenu_1">
            <div class="f_menu_1_title">ABOUT</div>
            <div><a href="#">Staff</a></div>
            <div><a href="#">Board of Directors</a></div>
            <div><a href="#">History</a></div>
            <div><a href="#">Recent</a></div>
            <div><a href="#">Accomplishments</a></div>
        </div>
      <div class="fmenu_1">
            <div class="f_menu_1_title">JOIN THE CAUSE</div>
            <div><a href="#">Third PartyTools</a></div>
            <div><a href="#">Our Donor Spotlight</a></div>
            <div><a href="#">Donate Form</a></div>
        <div class="f_menu_1_title">EVENTS</div>
            <div><a href="#">Past Events Gallery</a></div>
      </div>
      <div class="fmenu_1">
            <div class="f_menu_1_title">PRESS</div>
            <div><a href="#">Giving Opportunities</a></div>
            <div><a href="#">Media Kit</a></div>
            <div><a href="#">Customer service</a></div>
            <div><a href="#">Terms of use</a></div>
            <div><a href="#">Privacy policy</a></div>
      </div>
        <div class="fmenu_1">
        	<div class="social-share">
        		<div class="container"></div>
        		<div class="container"></div>
        	</div>
            {{ theme:image file="footer_logo.jpg" width="220" height="94" alt="dch" }}
          <div class="f_menu_1_text01">950 Dr. Edward Hillard Drive<br />
Tuscaloosa, AL 35401<br />
T: 205-759-7349 W   |  Fax: 205-759-7004<br />
<br />
© The DCH Foundation. All Rights Reserved</div>
      </div>
    </div>
</footer>
<!-- End footer -->