<!-- Begin footer -->
<footer class="footer">
	<div class="f_menu">
        <div class="fmenu_1">
            <div class="f_menu_1_title">ABOUT</div>
            {{navigation:links group="about_us"}}
            <div><a href="{{url}}">{{title}}</a></div>
			{{/navigation:links}}
        </div>
      <div class="fmenu_1">
            <div class="f_menu_1_title">JOIN THE CAUSE</div>
            {{navigation:links group="join_the_cause"}}
            <div><a href="{{url}}">{{title}}</a></div>
			{{/navigation:links}}
        	
        	<div class="f_menu_1_title">EVENTS</div>
        	{{navigation:links group="events"}}
            <div><a href="{{url}}">{{title}}</a></div>
			{{/navigation:links}}
      </div>
      <div class="fmenu_1">
            <div class="f_menu_1_title">PRESS</div>
            {{navigation:links group="press"}}
            <div><a href="{{url}}">{{title}}</a></div>
			{{/navigation:links}}
      </div>
      
      <div class="fmenu_1">
            <div>
            	<div class="fb-like" data-href="http://thedchfoundation.org" data-send="false" data-width="250" data-show-faces="false" data-font="arial"></div>
            </div>
            {{ theme:image file="footer_logo.png" width="220" height="54" alt="dch" }}
           	<div class="f_menu_1_text01">
            950 Dr. Edward Hillard Drive<br />
			Tuscaloosa, AL 35401<br />
			T: 205-759-7349 W   |  Fax: 205-759-7004<br />
			<br />
			© The DCH Foundation. All Rights Reserved</div>
		</div>
    </div>
</footer>
<!-- End footer -->