<!-- Begin header -->
	<header class="header">
		<div class="logo">
			<h1>
				<a href="{{ url:site  }}" title="{{ settings:site_name }}">
					<span>{{ settings:site_name }}&nbsp;&bull;&nbsp;{{ settings:site_slogan }}</span>
				</a>
			</h1>
		</div>
		<div class="r_part">
			<div class="sm_icons">
				<a href="#">{{ theme:image file="twitter_icon.jpg" width="92" height="18" alt="twitter icon" style="padding-right:12px" }}</a>
				<a href="#">{{ theme:image file="facebook_icon.jpg" width="10" height="18" alt="twitter icon" }}</a>
			</div>
			<nav class="top_nav">
				<ul>
					{{ navigation:links group="header" }}
				</ul>
			</nav>
		</div>
	</header>
<!-- End header -->