<!-- Begin header -->
	<header class="header">
		<div class="logo">
			<h1>
				<a href="{{ url:site  }}" title="{{ settings:site_name }}">
					<span>{{ settings:site_name }}&nbsp;&bull;&nbsp;{{ settings:site_slogan }}</span>
				</a>
			</h1>
		</div>
		<div class="r_part">
			<div class="sm-icons">
				<span class="leadin">FOLLOW US</span>
				<a class="twitter" href="#"><span>twitter</span></a>
				<a class="facebook" href="#"><span>facebook</span></a>
			</div>
			<nav class="top_nav">
				<ul>
					{{ navigation:links group="header" }}
				</ul>
			</nav>
		</div>
	</header>
<!-- End header -->