<!-- Begin meta tags -->

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />

<meta name="author" content="SM Agency" />

<meta name="copyright" content="DCH Foundation" />

<meta name="distribution" content="global" />

<meta name="resource-type" content="document" />

<meta name="language" content="{{ lang:code }}" />

<!-- facebook jazz -->
<meta property="og:title" content="{{ settings:site_name }}&nbsp;&bull;&nbsp;{{ template:title }}" />
<meta property="og:description" content="{{ settings:site_slogan }}" />
<meta property="og:image" content="http://thedchfoundation.org/uploads/default/files/dchf_header_logo.png" />


{{ theme:favicon file="fav.ico" base="url" }}

<base href="{{ url:base }}" />

<!-- Begin stylesheets -->
{{ theme:css file="style.css" }}
<!-- End stylesheets -->

<!-- Use Html5Shiv in order to allow IE render HTML5 -->
<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

<!-- Load jQuery Before Modules/Widgets -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
<script>window.jQuery || document.write("\x3Cscript src='{{ theme:js_url file='jquery/jquery.min.js' }}'>\x3C/script>")</script>
<!-- End jquery -->


<!-- load gLobal Javascript environment -->
{{ theme:js file="html5.js" }}
{{ theme:js file="jquery.panel.js" }}
{{ theme:js file="global.js" }}

{{ template:metadata }}

<!-- Place CSS bug fixes for IE 7 in this comment -->
<!--[if IE 7]>
{{ theme:css file="ie.css" }}
<![endif]-->

<!--<google web font>-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,800italic,300italic,600italic,400,300,600,800,700' rel='stylesheet' type='text/css'>
<!--<google web font>-->

<title>{{ settings:site_name }}&nbsp;&bull;&nbsp;{{ template:title }}</title>
