<!DOCTYPE html>
<html lang="en">
	<head>
		{{ theme:partial name="metadata" }}
	</head>
	
	<body>
		{{ template:metadata in="body" }}
		<div class="container">
	
			<div class="grid">
			
				<div class="content">
					{{ theme:partial name="header" }}
					<div class="inner_body">
						<section class="post clearfix">
						    {{template:body}}
						</section>
					</div>
				</div><!-- end .content -->
				
				{{ theme:partial name="footer" }}
			    
			</div><!-- end .grid -->
		</div><!-- end .container -->
		{{ template:metadata in="footer" }}
		<div id="fb-root"></div>
	</body>
</html>