<!-- 'HTML-style' HTML5 -->
<!DOCTYPE html><html lang="en">
<head>
	{{ theme:partial name="metadata" }}
</head>

<body>
	{{ template:metadata in="body" }}
<div class="container">
<div class="grid">
	<div class="content">
  
	{{ theme:partial name="header" }}
	
	<div class="inner_body">
    <div class="banner"> </div>
    	
    <h1 class="hp_heading">Calendar of Events</h1>
    
    <div class="hp_cal">
      
		{{ event:get from="<?=strtotime('today')?>" limit="3"}}
		<div class="hp_cal_box">
			<div class="hp_cal_date">
				<div class="hp_cal_month">{{ helper:date format="M" timestamp="{{timestamp}}"}}</div>
					<div class="hp_cal_day">{{ helper:date format="d" timestamp="{{timestamp}}"}}</div>
				</div>
				<div class="hp_cal_detail">
					{{name}}
					<a href="<?=base_url()?>event/details/{{id}}" class="normal_btn"><span>Find out more</span></a>
				</div>
		</div>
		{{ /event:get}}
		
		<script>
			jQuery('.hp_cal_box').mouseenter(function(){
				jQuery(this).addClass('over');
			});
			jQuery('.hp_cal_box').mouseleave(function(){
				jQuery(this).removeClass('over');
			});
		</script>
		
		<div class="hp_cal_newsletter">
			<div class="hp_cal_input">
				<input name="newsletter" type="text" value="newsletter" class="hp_cal_text" /><a href="#">{{ theme:image file="signup_btn.jpg" width="67" height="28" alt="newsletter signup"}}</a>
			</div>
		</div>
    </div>
    
    <div class="hp_boxes">
        <div class="hp_box" style="margin-left:0px">
            <div class="hp_box_text1">
                <h1 class="hp_box_heading"><strong>2012 Giving</strong></h1>
                <span class="hp_box_text3">Priorities/Opportunities</span>
            </div>
            <div class="hp_box_text2">The 15th annual "BBQ & Blue Jeans" 
            community event to benefit the DCH Help & Hope Fund</div>
            <div class="hp_box_text4">Fundraising Goal – <strong>$85,000</strong>
            <a href="#"><div class="find_out_more_dis_btn">Find out more</div></a>
            </div>
        </div>
        <div class="hp_box">
            <div class="hp_box_text7">
                <h1 class="hp_box_heading">Our <strong>Donor Spotlight</strong></h1>
            </div>
            <div class="hp_box_text2">The 15th annual "BBQ & Blue Jeans" 
            community event to benefit the DCH Help & Hope Fund</div>
            <div class="hp_box_text4">Fundraising Goal – <strong>$85,000</strong>
            <a href="#"><div class="find_out_more_dis_btn">Find out more</div></a>
            </div>
        </div>
        <div class="hp_3box" style=" border-right:none;">
            <div class="hp_box_text8">
                <h1 class="hp_box_heading">Join the <strong>Cause</strong></h1>
            </div>
            <div class="hp_box_text2">The 15th annual "BBQ & Blue Jeans" 
            community event to benefit the DCH Help & Hope Fund</div>
            <div class="hp_box_text4">Fundraising Goal – <strong>$85,000</strong>
            <a href="#"><div class="find_out_more_dis_btn">Find out more</div></a>
            </div>
        </div>
    </div>
    <div class="seprator"></div>
  </div>
     </div>
     
    <!-- end .content --></div>
    
    {{ theme:partial name="footer" }} 
    
    <!-- end .grid --></div>
  <!-- end .container --></div>
 {{ template:metadata in="footer" }} 
</body>
</html>