<!DOCTYPE html>
<html lang="en">
<head>
	{{ theme:partial name="metadata" }}
	{{ theme:js file="jquery.slides.js" }}
	<script type="text/javascript">
		(function($){$(document).ready(function(){
			
			$('#slides').slides({
				start:1,
				play:6000,
				generateNextPrev:true,
				generatePagination:false
			});
			
		});})(jQuery);
	</script>
</head>

<body>
	<div id="fb-root"></div>
	{{ template:metadata in="body" }}
<div class="container">
<div class="grid">
	<div class="content home-page">
  
	{{ theme:partial name="header" }}
	
	<div class="inner_body">
    <div class="hp-slider-holder">
    	<div id="slides">
	    	<div class="slides_container">
			{{pages:chunk id="1" name="slider" multiple="true"}}
				<div class="slide">
					<div class="slide-wrapper">
						{{body}}
					</div>
				</div>
			{{/pages:chunk }}
	    	</div>
    	</div>
    </div>
    
    <div class="seperator">&nbsp;&nbsp;</div>
    <h1 class="hp_heading">Calendar of Events</h1>
    
    <div class="hp_cal">
      
		{{ event:get from="<?=strtotime('today')?>" limit="3"}}
		<div class="hp_cal_box">
			<div class="hp_cal_date">
				<div class="hp_cal_month">{{ helper:date format="M" timestamp="{{timestamp}}"}}</div>
					<div class="hp_cal_day">{{ helper:date format="d" timestamp="{{timestamp}}"}}</div>
				</div>
				<div class="hp_cal_detail">
					{{name}}
					<a href="<?=base_url()?>event/get_agenda/{{ helper:date format="Y-m-d" timestamp="{{timestamp}}"}}" target="panel" class="normal_btn"><span>Find out more</span></a>
				</div>
		</div>
		{{ /event:get}}
		
		<div class="hp_cal_newsletter">
          	<div class="hp_cal_text01">Newsletter Sign Up</div>
          	<div class="hp_cal_input">
            	<form id="Newsletter" action="http://thedchfoundation.us4.list-manage2.com/subscribe/post?u=33ded1e15c11cd45ebadc191d&amp;id=63ac4ebb2f" method="POST"/>
          			<input name="EMAIL" type="text" value="" class="hp_cal_text newslet-email" />
                    <div id="send_newsletter_btn" class="nl_button">Sign up</div>
                </form>    
          	</div>
		</div>        
        
    </div>
    
    <div class="hp_boxes">
        <div class="hp_box" style="margin-left:0px">
            <div class="hp_box_title hp_box_text1">
                <h1 class="hp_box_heading"><strong>2012 Giving</strong></h1>
                <span class="hp_box_text3">Priorities/Opportunities</span>
            </div>
            {{pages:chunk id="1" name="Giving"}}
        </div>
        
        <div class="hp_box">
            <div class="hp_box_title hp_box_text7">
                <h1 class="hp_box_heading">Our <strong>Donor Spotlight</strong></h1>
            </div>
            {{pages:chunk id="1" name="Spotlight"}}
        </div>
        
        <div class="hp_box hp_3box" style=" border-right:none;">
            <div class="hp_box_title hp_box_text8">
                <h1 class="hp_box_heading">Join the <strong>Cause</strong></h1>
            </div>
            {{pages:chunk id="1" name="Join"}}
        </div>
    </div>
    <div class="seprator"></div>
  </div>
</div>
     
    <!-- end .content -->
</div>
    
    {{ theme:partial name="footer" }} 
    
    <!-- end .grid --></div>
  <!-- end .container --></div>
 {{ template:metadata in="footer" }}
 <script type="text/javascript">
	(function($){
		$('#Newsletter').submit(function(){
			if($('.newslet-email').val()==''){
				$('.hp_cal_newsletter').animate({'opacity':'0'},250).animate({'opacity':'1'},250).animate({'opacity':'0'},250).animate({'opacity':'1'},250);
				
				return false;
			}
		});
	})(jQuery)
	
	jQuery('.hp_cal_box').mouseenter(function(){
		jQuery(this).addClass('over');
	}).mouseleave(function(){
		jQuery(this).removeClass('over');
	});	
</script>
</body>
</html>