<?php if($this->input->is_ajax_request()):?>
<div class="live-content <?=$this->uri->segment(1)?>  <?=$this->_ci_cached_vars['page']->slug?>">
	{{template:body}}
</div>
<?php else:?>
<!DOCTYPE html>
<html lang="en">
	<head>
		{{ theme:partial name="metadata" }}
	</head>
	
	<body class="<?=$this->uri->segment(1)?>  <?=$this->_ci_cached_vars['page']->slug?>">
		{{ template:metadata in="body" }}
		<div class="container">
	
			<div class="grid">
			
				<div class="content">
					{{ theme:partial name="header" }}
					
					<div class="inner_body">
						<section class="post clearfix">
							<div class="pt_banner">	
								<h3 class="pt_heading">Join the <strong>Cause</strong></h3>
								<div class="speedbar">
									<nav>
										<ul>
											<li><a href="<?=site_url()?>">Back to Homepage</a></li>
										{{navigation:links group="join_the_cause"}}
											<li>l</li>
											<li class="{{class}}"><a href="{{url}}">{{title}}</a></li>
										{{/navigation:links}}									
							            </ul>
									</nav>
								</div>
							</div>
							
							<h2><?=$this->_ci_cached_vars['page']->title?></h2>
							
						    <div class=" page-chunk jtc-top">
						    	<div class="image"><img alt="join_the_cause_heart.png" class="pyro-image" src="http://thedchfoundation.org/files/thumb/43/361" /> </div>
						    	<div class="copy">{{pages:chunk id="9" name="feature"}}</div>
						    </div>
						    
						    <div class="jtc-priorities">
							    <div class="jtc-pri pri-1">
							    	<div class="padd col-padd-right bord-dot-r">
							    		<div class="jtc-pri-box">
								    		<div class="jtc-pri-box-padd">
									    		{{pages:chunk id="9" name="priority1"}}
								    		</div>
								    	</div>
							    	</div>
							    </div>
							    
							    <div class="jtc-pri pri-2">
							    	<div class="padd col-padd-right col-padd-left bord-dot-r">
							    		<div class="jtc-pri-box">
								    		<div class="jtc-pri-box-padd">
									    		{{pages:chunk id="9" name="priority2"}}
								    		</div>
								    	</div>
							    	</div>
							    </div>
							    
							    <div class="jtc-pri pri-3">
							    	<div class="padd col-padd-left">
							    		<div class="jtc-pri-box">
								    		<div class="jtc-pri-box-padd">
									    		{{pages:chunk id="9" name="priority3"}}
								    		</div>
								    	</div>
							    	</div>
							    </div>
							</div>
						    
						    <div class="jaxnav wtg">
						    	<div class="jaxnav-steps">
									<div class="jaxnav-nav-wrapper">
									<ul>
										{{navigation:links group="ways_to_give"}}
										<li class="{{class}}"><a href="{{url}}">{{title}}</a></li>
										{{/navigation:links}}
									</ul>
									</div>
								</div>
								
								<div class="jaxnav-info">
									<div class="jaxnav-info-wrapper">loading...</div>
								</div>
								
								<div class="jaxnav-paging">
									<a href="javascript:void(0)" class="normal_btn jaxnav-next"><span>Next Step</span></a>
									<a href="javascript:void(0)" class="normal_btn jaxnav-prev"><span>Prev Step</span></a>
								</div>
						    </div>
						    
							<script type="text/javascript">
								(function($){$(document).ready(function(){
									$('.jaxnav-steps a').click(function(e){
										e.preventDefault();
										var el = this;
										$('.jaxnav .current').removeClass('current');
										$(el).addClass('current');
											
										$('.jaxnav-info-wrapper').slideUp(function(){
											$('<div class="loading">Loading...</div>').appendTo('.jaxnav-info').fadeIn(250);
											$('.jaxnav-info-wrapper').load(el.href,function(){
												$('.jaxnav-info .loading').remove();
												var elements = $('.jaxnav-steps a');
												for(i=1 ; elements[(i-1)]!=el; i++)continue;
												$('.jaxnav-steps ul').attr('class','step'+i);
												$('.jaxnav-info-wrapper').slideDown();
											});
										});
									});
									
									$($('.jaxnav-steps a')[0]).addClass('current').click();
									
									$('.jaxnav-next').click(function(){
										$('.jaxnav .current').parents('li').next().find('a').trigger('click');
									});
									
									$('.jaxnav-prev').click(function(){
										$('.jaxnav .current').parents('li').prev().find('a').trigger('click');
									});
									
									$(window).scroll(function(){
											(document.body.scrollTop >= $('.jaxnav-steps').position().top) ?
											$('.jaxnav').addClass('below') : $('.jaxnav').removeClass('below');
									})
									
								});})(jQuery);
							</script>
						    
							<div class="jtc-bottom-wrapper">
								<div class="jtc-bottom">
									{{pages:chunk id="9" name="donor-spotlight"}}
								</div>
							</div>
						    
						</section>
					</div>
				</div><!-- end .content -->
				
				{{ theme:partial name="footer" }}
			    
			</div><!-- end .grid -->
		</div><!-- end .container -->
		{{ template:metadata in="footer" }}
		<div id="fb-root"></div>
	</body>
</html>
<?php endif;?>